<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>Seller SignUp</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name">
            <input class="form-input" type="password" name="password" ngModel placeholder="Enter Password">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <button class="form-button">SignUp</button>

            <a (click)="openLogin()">Already Have Account ? Click to Login</a>
        </form>

    </div>


    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <input class="form-input" type="password" name="password" ngModel placeholder="Enter Password">
            
            <button class="form-button">Login</button>

            <a (click)="openSignUp()">Don't Have Account ? Click to SignUp</a>
        </form>

    </div>

</div>
